.container {
	padding: 2%;
}

.recommendation_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-shrink: 3;
}

.card {
	padding: 20px;
	margin: 5px;
	width: 15%;
	border: 5px solid black;
	border-radius: 10px;
	box-shadow: 0px 5px 5px grey;
}

.donate_btn {
	padding: 5px;
	background-color: blue;
	color: white;
	border-radius: 5px
}

a {
	text-decoration: none;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}