.btn-normal {
  margin: 0 $space-sm;
  font-size: $font-sm;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $color-primary;
  color: $color-dark;
  font-weight: 700;
  padding: $space-xs $space-sm;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
    color: white;
  }
}

.btn-dark {
  margin: 0 $space-sm;
  font-size: $font-sm;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid transparent;
  background-color: $color-primary;
  color: white;
  font-weight: 700;
  padding: $space-xs $space-sm;
  transition: all 0.3s;
  border-radius: 2px;

  &:hover {
    border: 2px solid white;
    color: white;
    transform: scaleY(1.1);
  }
}
