.dash {
  display: flex;
  align-items: center;

  & > * {
    // border: 1px solid;
  }

  &-left {
    align-self: stretch;
    flex: 0 0 25%;
  }

  &-right {
    flex: 0 0 75%;
    border-radius: 3px;
  }
}

.dash-recc {
  padding-bottom: $space-sm;
  margin: 0.5rem;
  &-title {
    padding: $space-xs;
    background-color: $color-tertiary;
    border-radius: 5px;

    & > h1 {
      letter-spacing: 1px;
      font-size: $font-md;
      color: white;
    }
    & > p {
      color: white;
      font-size: $font-sm;
    }
  }
}

.dash-recc-items {
  display: flex;
  align-items: center;
}

.dash-rewards {
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    margin: $space-xs;
  }

  & > h2 {
    font-size: $font-md;
    color: $color-primary;
    text-transform: uppercase;
  }
}

.item-recc {
  // testing
  display: flex;
  border-radius: 5px;
  box-shadow: -9px 10px 12px -12px rgba(0, 0, 0, 0.75);
  border: 1px solid $light-grey;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  align-items: stretch;
  justify-content: flex-start;
  margin: $space-xs;

  & > * {
    display: flex;
    flex-direction: column;
  }

  &-header {
    padding: $space-xs;

    & > h1 {
      font-weight: 400;
    }
  }

  &-body {
    padding: $space-xs;

    & > p {
      font-size: $font-sm;
      text-transform: uppercase;
    }
    & > h3 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: $font-sm;
      color: $color-primary;
    }
  }
}

.icon-basic {
  font-size: $font-sm;
  color: $color-primary;
}
