@import "dimens.scss";
@import "colors.scss";
@import "header.scss";
@import "form.scss";
@import "button.scss";
@import "dash.scss";
@import "ngos.scss";
@import "prizes.scss";
@import "app.scss";
@import "leaderboard.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0.5rem;
  border: 3px solid $color-primary;
}
